body{
	background-color: #A8A8A8;
	font-family:"Lucida Grande", "Lucida Sans Unicode", Verdana, Arial, Helvetica, sans-serif;
	font-size:12px;

}
/* ------------------------ For Forms -----------*/
div.Form{
	background-color: #151136;
	color: #FFFFFF;
	margin-left: auto;
	margin-right: auto;
	width: 200px;
	min-width: 200px;
	padding-top: 14px;
	padding-left: 14px;
	padding-right: 14px;
	padding-bottom: 80px;
	text-align: center;
}
div.spacer{
	clear: both;
	height: 1px;
}
div.largespacer{
	clear: both;
	height: 10px;
	padding-bottom: 10px;
}
p.Login{
	font-size: 11px;
	margin-bottom: 20px;
	border-bottom: solid 1px #7093DB;
	padding-bottom: 10px;
}
h1.Login{
	font-size: 14px;
	font-weight: bold;
	margin-bottom: 8px;
}
span.HelpText{
	display: block;
	font-size: 11px;
	font-weight: normal;
}
label.Login{
	display: block;
	font-size: 13px;
}
/*Rounded input boxes snaged from electrictoolbox.com*/
input.rounded {
    border: 1px solid #ccc;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    -moz-box-shadow: 2px 2px 3px #666;
    -webkit-box-shadow: 2px 2px 3px #666;
    box-shadow: 2px 2px 3px #666;
    padding: 4px 7px;
    outline: 0;
    -webkit-appearance: none;
}
input.rounded:focus {
    border-color: #339933;
}/*
#Login{
	background-color: #FF0000;
}
#Signup{
	background-color: #EE00FF;
}