body{
	background-color: #A8A8A8;
}

/*http://colorschemedesigner.com/#4511Tdne-w0w0*/
div.Background{
	/*These are essentially the same settings as the login page*/
	background-color: #262335;
	font-family:"Lucida Grande", "Lucida Sans Unicode", Verdana, Arial, Helvetica, sans-serif;
	font-size:12px;
	width: 200px;
	min-width: 200px;
	min-height: 400px;
	margin-left: auto;
	margin-right: auto;
	padding-top: 14px;
	padding-left: 14px;
	padding-right: 14px;
	padding-bottom: 25px;
	text-align: center;
}
h1.Welcome{
	color: #807BA9;
	font-size: 14px;
	font-weight: bold;
	margin-bottom: 8px;	
}
label.Welcome{
	display: block;
	font-size: 13px;
}
p.Date{
	font-size: 10px;
	color: #8B87A9;
}
div.Accounts{
	background-color: #2F2F4F;
	display: block;
	font-size:  12px;
	min-height: 200px;
}
h1.Home{
	color: #FFFFFF;
	font-weight: bold;
	font-size: 15px;
}
h2.Accounts{
	font-size: 13px;
	font-weight: bold;
	text-decoration: underline;
	text-align: left;
	color: #8F8F8D;
}
hr.Accounts{
	width: 85%;
	height: 1px;
	border-width: 0;
	color: #8F8F8D;
	background-color: #FFFFFF;
}

ul.Accounts{
	list-style-type: none;
	padding: 0;
	margin: 0;
	font-size: 12;
	color: #BBA481;
	font-weight: bold;
	line-height: 30px;
}
span.Spacer{
	float: left;
	width: 25px;
}
span.AccountAmount{
	font-weight: normal;
	color: #FFFFFF;
	float: left;
	width: 75px;
	text-align: right;
}
span.AccountName{
	float: left;
	width: 75px;
	text-align: left;
}
button{
	width: 75%;
	-moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    -moz-box-shadow: 2px 2px 3px #666;
    -webkit-box-shadow: 2px 2px 3px #666;
    box-shadow: 2px 2px 3px #666;
}
div.largespacer{
	clear: both;
	height: 10px;
	padding-bottom: 5px;
}
div.Menus{
	background-color: #383553;
	width: 200px;
	min-width: 200px;
	min-height: 80px;
	margin-right: auto;
	margin-left: auto;
	text-align: center;
}
li.Menu{
	display: inline;
	text-align: center;
	text-decoration: none;
}
ul.Menu{
	display: inline;
	list-style-type: none;
	padding: 0;
	margin: 0;
	line-height: 30px;
	text-align: center;
}
div.Info{
	text-align: left;
	font-weight: bold;
	background-color: #2F1F4F;
	color: #A67D3D;
	font-size: 12px;
	margin-right: auto;
	margin-left: auto;
	width: 90%;
}
div.horSpace{
	width: 50px;
	min-width: 50px;
	margin-right: auto;
	margin-left: auto;
	clear: both;
}
button.Menu{
	margin-left: 4px;
	text-align: center;
	float: left;
	width: 30%;
	height: 50px;
	display: inline;
	-moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    -moz-box-shadow: 2px 2px 3px #666;
    -webkit-box-shadow: 2px 2px 3px #666;
    box-shadow: 2px 2px 3px #666;
}
span.MenuSpacer{
	float: left;
	width: 2px;
}
div.Logout{
	margin-left: auto;
	margin-right: auto;
}
button.Logout{
	text-align: center;
	width: 70%;

	-moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    -moz-box-shadow: 2px 2px 3px #666;
    -webkit-box-shadow: 2px 2px 3px #666;
    box-shadow: 2px 2px 3px #666;	
}